server:
  port: 8765
  application:
    name: api-gateway

spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: iam-service
              uri: lb://iam-service
              predicates:
                - Path=/api/iam-service/**
              filters:
                - RewritePath=/api/iam-service/(?<segment>.*), /${segment}
            - id: course-service
              uri: lb://course-service
              predicates:
                - Path=/api/course-service/**
              filters:
                - RewritePath=/api/course-service/(?<segment>.*), /${segment}
            - id: media-service
              uri: lb://media-service
              predicates:
                - Path=/api/media-service/**
              filters:
                - RewritePath=/api/media-service/(?<segment>.*), /${segment}
          discovery:
            locator:
              enabled: false
              lower-case-service-id: true

jwt:
  secret: ${JWT_SECRET}
  algorithm: ${JWT_ALGORITHM}}

cors:
  allowed-origins: ${FE_HOST}

gateway:
  secret-key: ${GATEWAY_SECRET_KEY:super-secret-key-change-in-production-12345}